
<form asp-controller="Company" asp-action="Add" method="post">
<div class="mb-3">
  <label for="CompanyName" class="form-label">Eklemek istediğiniz firma ismini giriniz</label>
  <input type="text" class="form-control"  placeholder="firma ismi" name="CompanyName">
</div>
<button type="submit" class="btn-primary btn">Ekle</button>
</form>