
<form asp-controller="Company" asp-action="Invite" method="post">
<div class="mb-3">
  <label for="CustomerName" class="form-label">Davet etmek istediğiniz  ismini giriniz</label>
  <input type="text" class="form-control"  placeholder="firma ismi" name="CustomerName">
</div>
<button type="submit" class="btn-primary btn">Ekle</button>
</form>